* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

body {
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
}

.static-txt {
    font-size: 70px;
    font-weight: 400;
    color: #fff;
}


.dynamic-txts {
    margin-left: 1em;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    font-size: 60px;
    color: #ff4c30;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }

}

.dynamic-txts li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #555;
    left: 0;
    border-left: 2px solid #ff4c30;
    animation: abdo 3s steps(10) infinite;
}

@keyframes abdo {

    40%,
    60% {
        left: calc(100% + 20px);

    }
}